@require "../node_modules/normalize.css/normalize.css"
@require "./fonts.styl"

$primary = #DFE1E8
$danger = #A90015
$bg1 = #16232A
$bg2 = #1A2B34
$bg3 = #465B66

$purple = #C792C7
$blue = #6297D0
$green = #97C990
$orange = #FD9148
$red = #F05D61

html, body
  margin 0
  padding 0
  height 100%
  display grid
  background black
  color $primary
  font-family Iosevka, monospace
  font-size 12px
  overflow hidden

#canvas
  margin auto
  width 100vw

#root
  position absolute
  width 100vw
  height 62.791vw
  font-size 1.5vw
  top 50%
  right 50%
  bottom 50%
  left 50%
  margin -31.395vw -50vw -31.395vw -50vw
  overflow hidden

.centered
  display flex
  justify-content center
  align-items center
  height 100%

.autocomplete
  .box
    position relative
  .option
    padding 0.6vw 1.2vw
    border 1px solid transparent

.crosshair
  position absolute
  top 50%
  right 50%
  bottom 50%
  left 50%
  margin -1.5px
  border 1px solid $primary
  border-radius 20px
  background-color $primary
  box-shadow 0px 1px 1px black

.physicsmode
  position absolute
  left 2vw
  bottom 11vw

.test
  text-shadow 0 1px 2px black

.box
  border 1px solid $primary
  background-color alpha($bg3, 0.4)
  padding 0.6vw 1.2vw
  min-height 2.2vw
  min-width 1vw
  &.selected
    border-color $danger
    color $danger
  .shortcut
    position absolute
    right 0
    bottom 0
    font-size 1vw
    padding 0.1vw 0.2vw

.menu
  position absolute
  top 2.2vw
  left 2.2vw
  display flex
  .tools
    margin-right 1.1vw
  .tool
    position relative
    margin-bottom 1.1vw

.constraints
  position absolute
  left 10vw
  bottom 2.2vw
  div
    height 2vw
    margin 0.1vw
